<!DOCTYPE html>
<html>
  <head>
    <title>DogBreedImageViewer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <!-- Header content goes here -->
    </header>

    <div class="container mx-auto">
      <%= yield %>
    </div>

    <footer>
      <!-- Footer content goes here -->
    </footer>
  </body>
</html>
